@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--p-surface-50);
  color: var(--p-surface-900);
  @apply transition-colors duration-200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark body {
  background-color: var(--p-surface-950);
  color: var(--p-surface-0);
}